.git
.gitignore
.workspace/.env
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.local/
app_streamlit/.streamlit/secrets.toml
.workspace/.streamlit/secrets.toml
build/
dist/
dist-installer/
fichas/
